{
  "env": {
    "mocha": true,
    "chai": true
  },
  "globals": {
    "waitForUpdate": true,
    "triggerEvent": true,
    "createTextVNode": true
  },
  "plugins": ["mocha", "chai"],
  "rules": {
//    "jasmine/no-focused-tests": 2
  }
}
